.messengerContents {
    display: flex;
    width: 100%;
}

.TotalUsers{
    flex: 3.5;
}

.ChatRoom{
    flex: 5.5;
}


.TotalUserWrapper,.ChatRoomWrapper{
    padding: 10px;
    height: 100%;
}

.ChatRoomWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.Logout{
    display: block;
}