.messenger {
    margin: auto;
    /* max-width: 100%; */ 
    /* max-height: 1800px; */
    max-width: 1350px;
    padding: 80px;
    border: 1px solid;
    border-radius:0;
    border-color: aliceblue;
    background-color: #fafafa;
}

.messengerContents {
    display: flex;
    width: 100%;
    height: 700px;
}

.TotalUsers{
    flex: 3.5;
}

.ChatRoom{
    flex: 5.5;
}

.TotalUserWrapper {
    border-right: 1px solid #DBDBDB;
    border-width: 1;
}

.TotalUserWrapper,.ChatRoomWrapper{
    padding: 10px;
    height: 100%;
}

.ChatRoomWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: relative; */
}

.Logout{
    display: block;
}