<html>
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="//code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>  
  </head>
  <body>
    <div>
      <div>
        <span>채팅방</span>
        <div style="border: 1px solid black;">
          <div id="msgList" style="border: 1px solid black; min-height: 150px">
            메시지 함이 비었습니다.
          </div>
          <div>
            <input id="msgTxt" type="text" name="msgTxt" placeholder="메세지를 입력하세요." />
            <button id="btnSend" type="button">보내기</button>
          </form>
        </div>
      </div>
    </div>
    <a class="login" id="logout" href = '/login'> 로그인 </a>
  </body>
  <script>
    const msgList = document.getElementById('msgList');
    const addChat = (message, didIsend) => {
      const row = document.createElement('div');
      row.classList.add('chat');
      row.classList.add(didIsend ? 'mychat' : 'yourchat');
      const text = document.createElement('div');
      text.classList.add('text');
      text.innerText = message;
      row.append(text);
      msgList.append(row);
      msgList.scrollTop = msgList.scrollHeight;
    }

    const ws = new WebSocket("ws://localhost:3001");
    ws.onopen = (event) => {
      console.log('ws is open');

      // Send Message
      $('#btnSend').on('click', (e) => {
        if ($('#msgTxt').val() != ''){
          const payload = {'type': 'send_msg', 'text': $('#msgTxt').val()};
          ws.send(JSON.stringify(payload));
          addChat($('#msgTxt').val(), true);
          $('#msgTxt').val(function(index, item){
            return"";
          });
        }
      });

      $('#msgTxt').on('keydown', (key) => {
        if (key.keyCode == 13 && $('#msgTxt').val() != ''){
          const payload = {'type': 'send_msg', 'text': $('#msgTxt').val()};
          ws.send(JSON.stringify(payload));
          addChat($('#msgTxt').val(), true);
          $('#msgTxt').val(function(index, item){
            return"";
          });
        }
      })

    };

    ws.onmessage = (event) => {
      console.log('msg arrived: ', event.data);

      const payload = JSON.parse(event.data);
      console.log("payload: ", payload);

      if (payload.type === 'receive_msg') {
        let text = "";
        text += `<div>${payload.text}</div>`;

        $('#msgList').append(text);
      }
    }
  </script>
</html>
