.message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.messageTop{
    display:flex;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2; 
    color: white;
    max-width: 300px;
}

.messageBottom{
    font-size: 12px;
    margin-top: 10px;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(245, 241, 241);
    color: black;
}

.chatRoomBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chatRoomTop{
    max-height: 550px;
    overflow-y: scroll;
    padding-right: 15px;
}

.noConversationText{
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
}