<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="//code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>  
</head>
<body>

    <% if(session.userId){ %>
    <h3>Logout</h3>
    <form action="/api/auth/login/" method="post">
        <input type="submit" value="logout">
    </form>

    <% } else{ %>
    <h3>Login</h3>
    <form action="/api/auth/login/" method="post">
        <table>
            <tr>
                <td>ID</td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td>비번 : </td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td><input type="submit" value="login"></td>
            </tr>
        </table>
    </form>
    <% } %>

</body>
</html>